@model POSModel.ResourceIssueModel

@{
    ViewBag.Title = "Create";
}
<style>
    .datepicker {
        z-index: 1151 !important;
    }
</style>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close" id="closeTop" data-dismiss="modal" aria-hidden="true">&times;</span>
            <h4 class="modal-title">Resource Issue</h4>
        </div>
        @using (Html.BeginForm("CreateResourceIssue", "SetUp", FormMethod.Post, new { id = "CreateResourceIssue-form" }))
        {
            <div class="modal-body">
                <div class="content-box">
                    @Html.HiddenFor(model => model.IssueId)


                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-grop_padding">
                                    @Html.HiddenFor(x => x.ResourceCopyId)
                                    @Html.LabelFor(model => model.ResourceCopyId)
                                    @* @Html.DropDownListFor(x => x.ResourceCopyId, ViewBag.ResourceCopyList as SelectList, "Choose one", new { @class = "form-control" })*@
                                    @Html.TextBoxFor(model => model.ResourceCopyNumber, new { @class = "form-control", disabled="disabled" })
                                    @Html.ValidationMessageFor(model => model.ResourceCopyId)
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-grop_padding">

                                    @Html.LabelFor(model => model.IssueDate)
                                    @Html.TextBoxFor(model => model.IssueDateNepali, new { @class = "nepali-calendar form-control" })
                                    @Html.ValidationMessageFor(model => model.IssueDateNepali)
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-grop_padding">

                                    @Html.LabelFor(model => model.ReturnBackDate)
                                    @Html.TextBoxFor(model => model.ReturnBackDateNepali, new { @class = "nepali-calendar form-control" })
                                    @Html.ValidationMessageFor(model => model.ReturnBackDateNepali)
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-grop_padding">

                                    @Html.LabelFor(model => model.SubscriberId)
                                    @Html.DropDownListFor(x => x.SubscriberId, ViewBag.ResourceSubscriberList as SelectList, "Choose one", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SubscriberId)
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-grop_padding">

                                    @Html.LabelFor(model => model.Remarks)
                                    @Html.TextBoxFor(model => model.Remarks, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Remarks)
                                </div>
                            </div>

                            @*<div class="col-md-6">
                                <div class="form-grop_padding">

                                    @Html.LabelFor(model => model.IsActive)
                                    @Html.CheckBoxFor(model => model.IsActive, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IsActive)
                                </div>
                            </div>*@

                        </div>
                    </div>

                </div>
            </div>

            <div class="btn-groups modal-footer">
                @if (Model.IssueId == 0)
                {

                    <button type="submit" class="btn btn-primary btn-save"><i class="fa fa-save"></i> Save</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary btn-save"><i class="fa fa-save"></i> Save Change</button>
                }
            </div>
        }
    </div>
</div>

<script>
    $(function () {

        $('#CreateResourceIssue-form').ajaxForm({

            beforeSubmit: function () {
                $('#CreateResourceIssue-form').removeData("validator").removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse($('#CreateResourceIssue-form'));
                if ($("#CreateResourceIssue-form").valid()) {
                    WorkForce.loader.show();
                } else {
                    return false;
                }
            },
            success: function (result) {
                if (result.Success) {
                    WorkForce.loader.hide();
                    ShowMessage("success", "success", result.Msg);
                    $('#pop-up-div').modal('hide');
                    location.href = '@Url.Content("~/SetUp/ResourceIssueSubscriber")';
                } else {
                    WorkForce.loader.hide();
                    ShowMessage("error", "error", result.Msg);
                }


            },
            error: function () {
                WorkForce.loader.hide();
                ShowMessage("error", "error", "error in calling ajax!!");
            }

        });
    });

    $('.nepali-calendar').nepaliDatePicker({
        npdMonth: true,
        npdYear: true,
    });

</script>
